/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  all: unset;
}


/* ESTILIZAÇÃO */

header {
  display: flex;
  background-color: blue;
  padding: 2% 2%;
  background-image: linear-gradient(#3B3B3B, #1F1F1F, #000000);
  color: white;
}
header ul {
  display: flex;
}

/* MAIN  SECTIONS */
main section:nth-child(odd) {
  background-color: #ffffff;
  color: black;
}
main section:nth-child(even) {
  background-color: #1b1818;
  color: white;
}
main section {
  padding: 5% 0;
}

/* SECTIONS */
section#sobre {
  display: flex;
  padding: 0;
}

section#sobre #minha-foto {
  width: 47vw;
}

section#sobre p #code-icon {
  width: 3vw;
}

section#sobre #container-apresentacao ul {
  display: flex;
}

section#sobre #container-apresentacao .imagens-link{
  width: 5vw;
}

section#tecnologias {
  text-align: center;
}

section#tecnologias ul {
  display: flex;
}

section#tecnologias ul li {
  background-color:#ffffff09;
  border-radius: 1%;
}
section#tecnologias ul li:hover{
  box-shadow: 1px 1px 1px #ffffff;
}


section#tecnologias img {
  width: 10vw;
}


section#projetos article{
  display: inline-block;
  width: 25%;
  vertical-align: top;
} 

section#projetos article img {
  max-width: 120%;
}

section#contato {
  text-align: center;
}


/* FOOTER */
footer {
  text-align: center;
}