/* JetBrains Mono FONT */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* Montserrat FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  all: unset;
}


/* ESTILIZAÇÃO */

header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(#222222, #1d1d1d,#111111, #000000);
  color: white;
  padding: 1.3% 2%;
  margin-bottom: 1.5%;
}

header h1 {
  font: italic bolder 2rem "JetBrains Mono", monospace;
  letter-spacing: -2px;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15%;
  font-size: 1.15rem;
  color: #ffffff;
  width: 50rem;
}


/* MAIN  SECTIONS */
main section:nth-child(odd) {
  background-color: #ffffff;
  color: black;
}
main section:nth-child(even) {
  background-color: #1b1818;
  color: white;
}
main section {
  padding: 5% 0;
}
main section h2{
  font-style: italic;
  font-weight: bolder;
  font-family: "JetBrains Mono", monospace;
  font-size: 2.8rem;
}

/* SECTION #SOBRE */
section#sobre {
  display: flex;
  padding: 0;
}
section#sobre #minha-foto {
  width: 99rem;
  min-width: 25rem;

}

section#sobre #container-apresentacao {
  display: inline-block;
  text-align: center;

  margin-right: 9%;
  padding: 6.5% 0;
}

section#sobre #container-apresentacao h2 {
  font-size: 4.5rem;
  margin-bottom: 5.2%;
}

section#sobre #container-apresentacao p {
  font-size: 1.1rem;
  text-align: justify;
  margin: 0 1% 7.3% 1%;

}

section#sobre #container-apresentacao p #code-icon {
  width: 1.4rem;
  margin-left: 0.9%;
  vertical-align: bottom;
}
section#sobre #container-apresentacao ul {
  display: flex;
  justify-content: end;
  margin-right: 1.1%;
}
section#sobre #container-apresentacao ul li {
  margin-left: 3%;
}
section#sobre #container-apresentacao .imagens-link{
  width: 3.5rem;
}

/* SECTION #TECNOLOGIAS */
section#tecnologias {
  text-align: center;
}

section#tecnologias h2{
  font-size: 2.8rem;
  letter-spacing: -2px;
}

section#tecnologias ul {
  display: flex;
  justify-content: center;
}

section#tecnologias ul li {
  border-radius: 40%;
}
section#tecnologias ul li:hover{
  background-color:#ffffff09;
  box-shadow: 0 0 10px #ffffff49;
}
section#tecnologias img {
  width: 7.6rem;
}

/* SECTION #PROJETOS */
section#projetos {
  text-align: center;
}
section#projetos h2 {
  letter-spacing: -2px;
}
section#projetos article{
  display: inline-block;
  width: 22rem;
  vertical-align: top;
  background-color: #00000009;
  border-radius: 10%;

  margin: 3% 1%;
  padding: 2% 2%;
} 
section#projetos article h3 {
  font-weight: 600;
  font-size: 1.3rem;
}
section#projetos article img {
  max-width: 20rem;
  width: 19rem;
  border-radius: 5%;
  margin: 4% auto;
}

section#projetos article a {
  display: block;
  margin-top: 2rem;
  border-radius: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.459);
  box-shadow: 0 0 2.5px #000000;
}

/* SECTION #CONTATO */
section#contato {
  text-align: center;
}
section#contato h2 {
  letter-spacing: -2px;
}

/* FOOTER */
footer {
  text-align: center;
}