/* IMPORTAÇÃO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* PADRONIZAÇÃO DE CORES */
:root{
    --default-color: #ffffff;
    --h1-header-color: #f68c28;
    --aside-color: #162b4c;
    --main-section-colors: #dddddd;
    --card-details-color: #2261c5b7;
    --footer-color: #0c1e22;
}

/* RESET DE ESTILOS */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Nunito;
}
ul {
  list-style: none;
}
a, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit; 
    outline: none; 
}
body {
    background-color: var(--default-color);
}

/* ESTILIZAÇÃO */
header {
    padding: 0.72rem 0 0.79rem 1rem;
    font-size: 0.66rem;
    color: var(--h1-header-color);
    -webkit-text-stroke-width: 0.12px; 
    -webkit-text-stroke-color: #742ade;
    border-bottom: solid 0.43px #00000031;
}

div#principal-flex-container{
    /* flex-container */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

aside#sidebar {
    padding: 3.4rem 0 0 1rem;
    background-color: var(--aside-color);
    color: var(--default-color);

    /* flex-item */
    flex: 0 0 200px;
}
aside#sidebar nav ul {
    /* flex-container */
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

aside#sidebar nav .sidebar-nav-links {
    /* flex-container */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.68rem;
}

main#main-content {
    padding: 1.3rem 1.08rem 1.9rem 1.3rem;
    background-color: var(--main-section-colors);

    /* flex-item */
    flex-grow: 1;

    /* flex-container */
    display: flex;
    flex-direction: column;
    gap: 0.73rem;
}
main#main-content h2#main-content-title {
    font-size: 1.86rem;
}
main#main-content p#main-content-description {
    font-size: 1.3rem;
}

section#dashboard-cards {
    padding: 0.5rem 0;
    background-color: var(--main-section-colors);
    
    /* flex-container */
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;
    justify-content: space-evenly;

}
section#dashboard-cards article.cards {
    padding: 0.9rem 1.1rem;
    border-radius: 0.9rem;
    text-align: center;
    background-color: var(--default-color);
    box-shadow: 0.6px 0.5px 3px #00000033;

    /* flex-item */
    flex: 0 0 14rem;

    /* flex-container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}
article.cards div.value {
    font-weight: bold;
}
article.cards a.details-link {
    border-radius: 0.75rem;
    background-color: var(--card-details-color);
    color: var(--default-color);
}


footer {
    padding: 1.2rem 0 1.3rem 1.2rem;
    background-color: var(--footer-color);
    color: var(--default-color);
    border-top: solid 0.2px #ffffff38;
}