/* PADRONIZAÇÃO */
:root {
    --body-color: #f5f5f4;
    --header-color: #222222;
    --buton-color: #017afd;
    --card-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    background-color: var(--body-color);
}


/* ESTILIZAÇÃO */
header {
    background-color: var(--header-color);
    color: #ffffff;
    text-align: center;
    padding: 0.7%;
}

main#container {
    text-align: center;
    padding-top: 5%;

}

main#container div.card {
    background-color: var(--card-color);
    color: #000000;

    display: inline-block;
    margin: 0 0.5% 2.1% 0.5%;
    padding-bottom: 2%;
    box-shadow: 0 0 50px black;
}

main#container div.card button {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    background-color: var(--buton-color);
    padding: 1%;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

