@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* ESTILIZAÇÃO */

/* Padronizando BODY */
body {
  background-color: rgb(12, 12, 37);
  color: #ffffffff;
}

/* HEADER */
header {
  padding: 0.8rem 1.49rem;
  padding-right: 7.75rem;
  display: flex;
  align-items: center;
}

header nav {
  flex-grow: 1;
  margin-left: 2.5rem;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* MAIN */
main {
  box-shadow: 0 2px 8px #000000;
}
/* ALTURA PADRÃO PARA: SECTION E ASIDE (DENTRO DE MAIN) */
main section, main aside {
  height: 940px;
}

/* SECTION GALERIA */
section#galeria {
  background-color: rgb(20, 20, 56);
  width: 83%;
  padding-left: 1.49rem;
}

section#galeria div.column {
  width: 28.5%;
  display: inline-block;
  margin-right: 1.64rem;
}
section#galeria div.column figure {
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.045);
  text-align: center;
  
  padding: 0.35rem 1.19rem;
}
section#galeria div.column figure:hover{ 
  transform: scale(1.06);
  box-shadow: 0 0 10px 0.5px black;
}
section#galeria div.column figure img {
  width: 30%;
}
section#galeria div.column figure img:hover {
  border: 2px solid black;
  /* figcaption fique aparecendo sobre a imagem */
  /* usar positioning (aula de relative/ absolute) */
}

section#galeria div.column figure figcaption {
  text-align: start;
}

/* ASIDE */
aside {
  background-color: rgb(37, 0, 71);
  width: 17%;
  float: right;
  padding-left: 1.01rem;
  border-left: 2px inset rgb(68, 0, 131);
}

aside div#profile img {
  text-align: center;
  width: 7rem;
  border-radius: 100%;
}

/* FOOTER */
footer {
  padding-top: 1.3rem;
  padding-bottom: 0.6rem;
  color: #dfdfdf;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.36rem;
}

footer ul {
  display: flex;
  gap: 1rem;
}

footer ul li a img {
  width: 2.3rem;
}
footer ul li a p {
  font-size: 0.79rem;
}