/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* ESTILIZAÇÃO */

/* Padronizando BODY */
body {
  background-color: rgb(12, 12, 37);
  color: #ffffffff;
}

/* HEADER */
header {
  display: flex;
}
header ul {
  display: flex;
}

figure {
  padding: 0; 
  margin: 0; 
  border-radius: 2rem;
}

figure:hover{ 
  transform: scale(1.06);
  background-color: new;
  box-shadow: 0 0 10px black;
}

img:hover {
  border: 0;
  /* figcaption fique aparecendo sobre a imagem */
  /* usar positioning (aula de relative/ absolute) */
}

.column {
  width: 23%;
  margin: 0;
}

aside {
  width: 25%;
}

/* margens horizontais entre columns e aside 
  width: 6% 
*/


aside {
  background-color: rgb(54, 0, 104);
}


footer ul {
  display: flex;
}