@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* ESTILIZAÇÃO */

/* Padronizando BODY */
body {
  background-color: rgb(12, 12, 37);
  color: #ffffffff;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}

section#galeria {
  background-color: rgb(20, 20, 56);
  display: inline-block;
  width: 85%;
}

section#galeria div {
  width: 30%;
  display: inline-block;
}

section#galeria div figure {
  padding: 0; 
  margin: 0; 
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.045);
}

figure:hover{ 
  transform: scale(1.06);
  background-color: new;
  box-shadow: 0 0 10px black;
}

section#galeria div figure img {
  width: 30%;
}


img:hover {
  border: 0;
  /* figcaption fique aparecendo sobre a imagem */
  /* usar positioning (aula de relative/ absolute) */
}

.column {
  width: 23%;
  margin: 0;
}

aside {
  background-color: rgb(39, 0, 78);
  width: 14%;
  float: right;
}

aside div#profile img#foto-perfil {
  border-radius: 100%;
}


/* margens horizontais entre columns e aside 
  width: 6% 
*/

footer ul {
  display: flex;
}