/* PADRÕES DA PÁGINA*/
section {
    text-align: center;
}

/* DESKTOP FIRST */
h1 {
  font-size: 4.25rem;
}
h2 {
  font-size: 2.74rem;
}
h3 {
  font-size: 1.3rem;
}
.section-description {
    font-size: 1.18rem;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.hero-section .features-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.hero-section .material-symbols-rounded {
    font-size: 5.5rem;
}

article.info-card{
    background-color: var(--DARK-card-color);
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
article.info-card span {
    margin-left: 10px;
}

div.infos-course-cards, div.subjects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivation-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.motivation-row.reverse {
    flex-direction: row-reverse;
}

.motivation-media-row img {
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 6px var(--DEFAULT-shadow-title-color);
}
.cta-section #highlight-title {
    color: var(--DARK-button-color);
    text-shadow: 0 0 0.7em var(--DARK-shadow-color);
}
.cta-section #highlight-description {
    font-style: italic;
    color: var(--DARK-button-color);
}
.cta-section .cta-benefits-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px 25px;
}

.cta-section .material-symbols-rounded {
    color: #00a035;
}