/* PADRÕES DA PÁGINA*/
section {
    text-align: center;
}

.hero-section h1 {
    font-size: 3.5rem;
}

.hero-section .features-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.hero-section .material-symbols-rounded {
    font-size: 5.5rem;
}


article.info-card{
    background-color: var(--DARK-card-color);
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
}

.hero-section {
    display: grid;
}

div.infos-course-cards, div.subjects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section #highlight-title {
    color: var(--DARK-button-color);
    text-shadow: 0 0 14px var(--DARK-shadow-color);
}
.cta-section #highlight-description {
    font-style: italic;
    color: var(--DARK-button-color);
}
.cta-section .cta-benefits-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px 25px;
}

.cta-section .material-symbols-rounded {
    color: #00a035;
}