/* PADRÕES DA PÁGINA*/
section {
    text-align: center;
}

/* 1ª MEDIA QUERY - tela ajustada no desktop
    LARGURA DE TELA: 970px;

    hero-container {
    colocar em coluna
    }

    features-bar {
    começar a diminuir
    }

    invite-section, subjects-section {
     começar a diminuir cards
    }

    motivations {
    começar a diminuir imagens
    }

    testimonials {
    começar a diminuir cards
    }

    footer {
    começar a diminuir icones e fonte
    }

2ª MEDIA QUERY - tela para tablets/smartphones
    LARGURA DE TELA: 722px;
    
    header {
    remover
    colocar menu hamburguer
    }

    invite-section, subjects-section {
     colocar cards em coluna
    }

    motivations {
    colocar rows em coluna
    }

    footer {
    colocar em colunas
    }

*/

/* DESKTOP FIRST */
h1 {
  font-size: 4.25rem;
}
h2 {
  font-size: 2.74rem;
}
h3 {
  font-size: 1.3rem;
}
.section-description {
    font-size: 1.18rem;
}

.hero-section {
    padding: 0;
}
.hero-section .hero-container {
    text-align: left;
    padding: 150px var(--DESKTOP-page-side-spacing) 0 var(--DESKTOP-page-side-spacing);

    background-image: url(../assets/index/hero/etecia-entrada.jpg);
    background-size: cover;
    background-position: center top;
    
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.hero-section .features-bar {
    padding: 0 var(--DESKTOP-page-side-spacing);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero-section .material-symbols-rounded {
    font-size: 5.5rem;
}

article.info-card{
    background-color: var(--DARK-card-color);
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
article.info-card span {
    margin-left: 10px;
}

div.infos-course-cards, div.subjects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.motivation-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.motivation-row.reverse {
    flex-direction: row-reverse;
}

.motivation-media-row img {
    border-radius: 10px;
    box-shadow: 0 1px 6px var(--DEFAULT-shadow-title-color);
}


.testimonial-card {
    background-color: var(--DARK-card-color);
    
}
.testimonial-card .author-info{ 
    display: flex;
}
.author-info > img {
    border-radius: 100%;
}
.author-details {
    text-align: left;
}
.author-details > cite, .author-details > span {
    display: block;
}

.cta-section #highlight-title {
    color: var(--DARK-button-color);
    text-shadow: 0 0 0.7em var(--DARK-shadow-color);
}
.cta-section #highlight-description {
    font-style: italic;
    color: var(--DARK-button-color);
}
.cta-section .cta-benefits-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px 25px;
}

.cta-section .material-symbols-rounded {
    color: #00a035;
}