/* IMPORTAÇÃO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* PADRONIZAÇÃO DE CORES */
:root {
    --DEFAULT-title-color: #73B0D9;
    --DEFAULT-shadow-title-color: #644da5;

    /* MODO DARK */
    --DARK-background-color: #212121;
    --DARK-card-color: #ffffff21;
    --DARK-text-color: #ffffff;
    --DARK-button-color: #ff0067;
    --DARK-shadow-color: #911044;
    
    /* MODO LIGHT */
    /*             
    --LIGHT-background-color: #ffffff;
    --LIGHT-card-color: #aaaaaa; mudar
    --LIGHT-text-color: #;
    --LIGHT-button-color: #;
    */


}
/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  
  color: var(--DARK-text-color);
}
body {
  background-color: var(--DARK-background-color);
}

/* ALINHAMENTOS PADRÃO */
header, main {
  margin: 0 4.1rem;
}
footer {
  padding: 0 4.1rem;
}

/* ESTILOS DE TEXTOS PADRÃO */
h1, h2 {
  color: var(--DEFAULT-title-color);
  text-shadow: 0 0 0.14em var(--DEFAULT-shadow-title-color);
}
p {
  font-weight: 500;
}

header {
  background-color: var(--DARK-background-color);
  margin: 1.09rem 4.1rem;
  padding: 10px 0;
  border-radius: 30px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header img {
  width: 2.625rem;
}
header ul {
  display: flex;
  gap: 21px;
  flex-wrap: nowrap;
}
header .page-link:hover {
  text-shadow: 0 0 5.3px #707070;
}
header #subscribe-link {
  background-color: var(--DARK-button-color);
  color: var(--DARK-text-color);
  padding: 10px 20px;
  border-radius: 6px;
}
header #subscribe-link:hover {
  box-shadow: 0 0 10px var(--DARK-shadow-color);
}

.link-action {
  background-color: var(--DARK-button-color);
  color: var(--DARK-text-color);
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 0 0 15px var(--DARK-shadow-color);
}
.link-action:hover {
  box-shadow: 0 0 25px var(--DARK-shadow-color);
}

.link-action-reverse{
  border: 3px ridge var(--DARK-button-color);
  color: var(--DARK-button-color);

  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 0 0 15px var(--DARK-shadow-color);
}
.link-action-reverse:hover {
  box-shadow: 0 0 20.5px var(--DARK-shadow-color);
  text-shadow: 0 0 10px var(--DARK-button-color);
}

div.footer-brand{
  display: flex;
}

.brand-area .social-links{
  display: flex;
  gap: 15px;
}
.social-links li {
  width: 30px;
}
.social-links a svg g {
  fill: #c2c2c2;
}

.contact-list a svg {
  stroke: var(--DARK-button-color);
}