/* IMPORTAÇÃO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* PADRONIZAÇÃO DE CORES */
:root {
    --DEFAULT-title-color: #73B0D9;
    --DEFAULT-shadow-title-color: #644da5;

    /* MODO DARK */
    --DARK-background-color: #212121;
    --DARK-card-color: #ffffff10;
    --DARK-text-color: #ffffff;
    --DARK-button-color: #ff0067;
    --DARK-shadow-color: #911044;
    --DARK-footer-icon: #c2c2c2;
    
    /* MODO LIGHT */
    /*             
    --LIGHT-background-color: #ffffff;
    --LIGHT-card-color: #aaaaaa; mudar
    --LIGHT-text-color: #;
    --LIGHT-button-color: #;
    */

    --DESKTOP-page-side-spacing: 4.1rem;
    /*
    --MOBILE-page-side-spacing: 1.5rem;
    */
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  
  color: var(--DARK-text-color);
}
body {
  background-color: var(--DARK-background-color);
}
a, li, ul, span, small {
  color: inherit;
}

/* ALINHAMENTOS PADRÃO */
header {
  position: absolute;
  top: 1.09rem;
  left: var(--DESKTOP-page-side-spacing);
  right: var(--DESKTOP-page-side-spacing);
  padding: 10px 50px;
  z-index: 10;
}
main section {
  padding: 0 var(--DESKTOP-page-side-spacing);
} 
footer {
  padding: 0 var(--DESKTOP-page-side-spacing);
}
/* ESTILOS DE TEXTOS PADRÃO */
h1, h2 {
  color: var(--DEFAULT-title-color);
  text-shadow: 0 0 0.14em var(--DEFAULT-shadow-title-color);
}
p {
  font-weight: 500;
}

header {
  font-weight: 600;
  background-color: var(--DARK-background-color);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

}
header ul {
  display: flex;
  gap: 21px;
  flex-wrap: nowrap;
}
header .page-link:hover {
  text-shadow: 0 0 5.3px #707070;
}
header #subscribe-link {
  background-color: var(--DARK-button-color);
  color: var(--DARK-text-color);
  padding: 10px 20px;
  border-radius: 6px;
}
header #subscribe-link:hover {
  box-shadow: 0 0 10px var(--DARK-shadow-color);
}

.link-action {
  background-color: var(--DARK-button-color);
  color: var(--DARK-text-color);
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 0 0 15px var(--DARK-shadow-color);
}
.link-action:hover {
  box-shadow: 0 0 25px var(--DARK-shadow-color);
}

.link-action-reverse{
  border: 3px ridge var(--DARK-button-color);
  color: var(--DARK-button-color);

  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 0 0 15px var(--DARK-shadow-color);
}
.link-action-reverse:hover {
  box-shadow: 0 0 20.5px var(--DARK-shadow-color);
  text-shadow: 0 0 10px var(--DARK-button-color);
}

footer {
  box-shadow: inset 0 10px 10px 1px var(--DARK-card-color);
  background-color: var(--DARK-background-color);
}
footer h2 {
  font-size: 1rem;
  color: var(--DARK-footer-icon);
  text-shadow: none; 
}
footer h3 {
  color: var(--DARK-button-color);
}

div.footer-brand{
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.brand-area img {
  display: block;
  margin-bottom: 3px;
}

.footer-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--DARK-footer-icon);
}

.brand-area .social-links{
  display: flex;
  gap: 15px;
}
.social-links li {
  width: 30px;
}
.social-links a svg g {
  fill: var(--DARK-footer-icon);
}

.contact-list a svg {
  stroke: var(--DARK-button-color);
}

div.footer-bottom {
  padding: 30px 0;
  color: var(--DARK-footer-icon);
  box-shadow: inset 0 10px 4px -10px var(--DARK-shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 46px;
}
.footer-bottom > small, .footer-bottom > span {
  font-size: 0.875rem;
}
.tag-icon {
  color: var(--DARK-button-color);
}